@tailwind base;
@tailwind components;
@tailwind utilities;




   .courseBody{
    max-width:1400px;
   }

   .greyText{
    color:#64748B;
   }

   .leftImage{
    width:40px;
    height: 40px;
    /* float:left; */
    border-radius: 50%;
   }