@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-san {
  /* font-family: 'Poppins',sans-serif; */
}

.tracking-wider {
  /* font-family: 'Poppins',sans-serif!important; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.courseBody {
  /* padding: 20px 60px; */
 
  font-family: 'Poppins', sans-serif;
}

.course-include{
  padding: 2px 1px;
}
.greyText {
  color: #656565;


}

h4 {
  font-family: 'Poppins', sans-serif;
}

.greyTextdesc {
  color: #656565;
  font-family: 'Poppins', sans-serif;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.leftImage {
  width: 44px;
  height: 44px;
  /* float:left; */
  border-radius: 50%;
}