.notification-container {
    max-width: 100%;
    padding: 10px 20px;
}

.back-icon {
    height: 22px;
}

.notification-title {
    font-size: 28px;
    margin-left: 10px;
}

.sort-button {
    border: 1px solid #3D5CFF;
    background-color: #EEF2FF;
    border-radius: 4px;
    padding: 12px 32.5px;
    color: #3D5CFF;
    font-size: 16px;
}

.recent-notifications {
    padding: 16px 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-title {
    font-size: 22px;
}

.view-all {
    font-size: 16px;
    color: #1B2128;
}

@media (max-width: 768px) {
    .notification-container {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .back-icon {
        height: 14px;
    }

    .notification-title {
        font-size: 16px;
    }

    .sort-button {
        font-size: 12px;
        padding: 6.5px 13.5px;
        width: auto;
    }

    .recent-notifications {
        padding: 12px;

    }

    .recent-title {
        font-size: 14px;
    }

    .view-all {
        font-size: 12px;
    }

    .container,
    .container * {
        font-size: 10px !important;
    }

    .container h6 {
        font-size: 12px !important;
    }

    .container img {
        width: 14px !important;
        height: 14px !important;
    }
}