@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

nav a {
    text-decoration: none;
    color: #007bff;
    
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  nav span {
    font-size: 1.25rem;
    color: #333;
  }
  
  nav span a {
    color: #007bff;
  }
  
  nav span a:hover {
    color: #0056b3;
  }
  .test-section{
    width: 100% !important;
  }
  