@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


:root {
    --color-background: #f9f9f9;
    --color-white: #fff;
    --color-text: #868e88;
    --color-border: #ff0000;
    --color-focus: blue;
    --color-btn-primary: #3d5cff;
    --color-btn-primary-hover: #2447f8;
    --color-text-secondary: #666;
  }
  
  body {
    margin: 0;
    font-family: 'poppins',system-ui, sans-serif;
    background-color: var(--color-background);
  }
  
  .otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .otp-box {
    background: var(--color-white);
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 25rem;
    width: 90%;
  }
  
  .otp-box h2 {
    font-size: 2rem;
    margin-bottom: 0.625rem;
    text-align: start;
  }
  
  .otp-box p {
    text-align: start;
    font-size: 0.875rem;
    color: var(--color-text);
    margin-bottom: 1.25rem;
  }
  
  .otp-box span {
    font-weight: bold;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: start;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
  }
  
  .otp-input {
    width: 3rem;
    height: 3.5rem;
    font-size: 1.125rem;
    text-align: center;
    border: 0.0625rem solid var(--color-border);
    border-radius: 0.6rem;
    outline: none;
  }
  
  .otp-input:focus {
    border-color: var(--color-focus);
    box-shadow: 0 0 0.25rem var(--color-focus);
  }
  
  .otp-actions {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
  }
  
  .resend-btn {
    color: var(--color-btn-primary);
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .resend-btn:hover {
    text-decoration: underline;
  }
  
  .otp-timer {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    margin-bottom: 1.25rem;
  }
  
  .verify-btn {
    width: 100%;
    background: var(--color-btn-primary);
    color: var(--color-white);
    border: none;
    padding: 0.625rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .verify-btn:hover {
    background: var(--color-btn-primary-hover);
  }
  
  /* Responsive Styles */
  @media (max-width: 30em) {
    .otp-box {
      padding: 1rem;
    }
  
    .otp-input {
      width: 2.1875rem;
      height: 2.1875rem;
      font-size: 1rem;
    }
  
    .verify-btn {
      padding: 0.5rem;
      font-size: 0.875rem;
    }
  }
  