@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.folder-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    ;

}

.custom-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color: #1E1E1E80;
    font-size: 16px;
}

.table1 tr th{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color:#1E1919;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;

   

}

.table1 tr td{
    line-height: 22px;
    color:#1E1919;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
}
.table1 tr td span{
    line-height: 22px;
    color:#1E1919;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
}

.custom-breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #1E1E1E80;
    font-weight: 500;
    font-size: 16px;
}

.custom-breadcrumb .breadcrumb-item.active {
    color: #1E1E1E80;
    font-weight: bold;
    font-size: 16px;
}
@media(max-width:768px){
    .table1{
        width:100%!important;
        padding: 0px;
    }
    .table1 tr{
        width:100%;
        padding: 0px!important;
    }
    .table1 th{
        padding-left: 0px!important;
    }
}