

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.loginpageContainer {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    height: 90vh;
    overflow-y: hidden;
    flex-wrap: wrap; 
  }

  .custom-indicator {
    margin: 0px 8px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #ccc;
  }
  
  .custom-indicator.selected {
    border-color: #007bff;
    background-color: #007bff;
    width: 24px!important;
  }
  
  
  .loginLeft {
    width: 100%;
    position: relative;
    top: 80px;
  }
  
  .loginRight {
    position: absolute;
    right: 40px;
    top: 40px;
  }
  
  .loginRight a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #858597;
  }
  
  
  .carousel .control-dots .dot {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel .control-dots .dot.selected {
    background-color: #007bff;
  }
  
 
  .loginDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .loginPara {
    width: 420px;
    text-align: left;
    margin-bottom: 80px;
    margin-top: -40px;
  }
  
  .loginPara h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
  }
  
  .loginPara p {
    font-weight: 400;
    font-size: 20px;
    color: #858597;
    margin-top: -15px;
    font-family: 'poppins',sans-serif;
  }
  .skip-btn{
     font-family: 'poppins',sans-serif;
  }
  

  .loginButton button {
    outline: none;
    border: 1px solid #3D5CFF;
    color: #3D5CFF;
    width: 127px;
    height: 44px;
    background-color: transparent;
    border-radius: 3px;
  }
  
  .loginButton {
    position: relative;
    top: -70px;
  }
  
  
  @media (max-width: 768px) {
    .loginpageContainer {
      flex-direction: column; 
      height: auto;
      overflow-y: scroll;
    }
  
    .loginLeft {
      width: 100%;
      top: 20px;
    }
  
    .loginDesc {
      width: 100%; 
      align-items: center;
    }
  
    .loginPara {
      width: 90%;
      text-align: center; 
      margin-top: 20px;
    }
  
    .loginPara h2 {
      font-size: 24px; 
    }
  
    .loginPara p {
      font-size: 16px;
    }
  
    .loginButton button {
      width: 100%;
      padding: 8px 30px;

    }
  
    .loginRight {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  
  
  @media (max-width: 1024px) {
    .loginpageContainer {
      flex-direction: column;
      height: auto;
    }
  
    .loginLeft {
      width: 100%;
      top: 30px;
    }
  
    .loginPara {
      width: 80%;
    }
  
    .loginPara h2 {
      font-size: 26px; 
    }
  
    .loginPara p {
      font-size: 18px; 
    }
  
    .loginButton button {
      width: 100%; 
    }
  
    .loginRight {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  