.custom-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color: '#000' !important;
}


.custom-breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #1E1E1E80;
}

.custom-breadcrumb .breadcrumb-item.active {
    color: #1E1E1E80;
}